# Build Outputs
build/
build_out/
*.bin
*.elf
*.map
*.hex
*.asm
*.d
*.o

# IDE & Editor Configs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json
.idea/
*.swp
*.swo
*~
.DS_Store

# Temporary / Log files
*.log
scratch/
config.ini

# External Submodules / Cloned SDKs and Toolchains
bouffalo_sdk/
M1s_BL808_SDK/
M1s_BL808_example/
bl808/
toolchain_gcc_t-head_windows/


